# Ignore the virtual environment
venv/
__pycache__/

# Ignore the secrets file
.streamlit/secrets.toml

# Ignore any .pyc files
*.pyc

# Ignore any .DS_Store files (MacOS)
.DS_Store

# Ignore any logs
*.log
